

body html{
	width: 960px;
	margin: 0;
	
	background-image:url("../images/round.png"); 
}



header{
    font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 27px;
}

h2{
    font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 27px;
	color: #4aaaa5;
}

h3{
    font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 20px;
	color: #4aaaa5;
}

p{
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
	text
}

aside {
	position: relative;
	float: left;
    width: 270px;
    height: auto;
    margin-top: 120px; 
    margin-left: 5px;
    border-color: #dddddd;
    border-style: solid;
    border-width: 2px;
	background-color: #ffffff;
	text-align: center;
	box-shadow: 10px 10px 5px lightgrey;
}


input{
	color: grey;
}


form {
	padding-left: 20px;
	padding-bottom: 20px;
	
}

.p1 {
	color: white;
}

.contentarea{
    width: 940px;
}

.contactheadtext{
	font-size: 20px;
	color: #777777;
}

.headandnavbox{
	position: absolute;
	width: 100%;
	height: 90px;
	border-bottom: 2px;
	border-color: #dddddd;
	border-style: solid;
	background-color: #ffffff;
	z-index: 3;
}

.headerbox{
	float: left;
	text-align: center;
    background-color: #4aaaa5;
    color: white;
    height: 57px;
    width: 200px;
    margin-top: 15px;
    margin-left: 20px;
    position: relative;
    padding-top: 20px;
}

.nav{
	position: relative;
	margin-top: 40px;
	margin-left: 350px;
	margin-right: 25px;
	float: right;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: lightgrey;
}

.navtext{
	color: lightgrey;
	text-decoration: none;
}

.aboutbox{	
	position: relative;
	clear: both;
	overflow: auto;
	margin-top: 120px;
	margin-left: 5px;
	margin-bottom: 30px;
	background-color: #ffffff;
	width: 650px;
	height: auto;
	float: left;
	border: solid;
	border-color: #dddddd;
	border-width: 2px;
	box-shadow: 10px 10px 5px lightgrey;
	z-index: 2;
}

.linkbox{
	margin-left: 20px;
	margin-bottom: 20px;
	height: 60px;
}

#image1 {
	height: auto;
	width: 200px;
	float: left;
	margin-left: 30px;
	margin-right: 20px;
	margin-bottom: 30px;
}

#aboutmeborder{
	border-bottom-style: solid;
	border-color: darkgrey;	
	border-width: 2px;
	padding-bottom: 20px;
	padding-left: 10px;
}

#largebox{
	height: 200px;
}

.footer {
	bottom: 0;
	clear: both;
	overflow: auto;
	width: 100%;
	height: 100px;
	background-color: #666666;	
	color: lightgrey;
	text-align: center;
	text-decoration: none;
	vertical-align: center;
	color: white
	z-index: 1;
}

.profileimgtextbox{
	position: absolute;
	height: 30px;
	text-align: center;
	background-color:#4aaaa5;
}

.container{
	float: left;
	position: relative;
	text-align: center;

background-color: #4aaaa5;
	width: 250px;
	margin-left: 40px;
	margin-bottom: 40px;
}

.bottom-right {
	font-size: 27px;
	color: #777777;
    position: absolute;
    bottom: 8px;
    right: 16px;
}
.profimg{

	width: 250px;
	height: 210px;
	margin-bottom: 40px;
	float: left;
}

.div1{
	width: 100%
	background-color: #4aaaa5;
	height: 30px;
	bottom: 0;
}